#makefile to define some project information such as project name

#Name of the project, executable, artifacts, and linker command file
PROJECT_NAME=FW_RP2040

ROOT_DIR=../..
ROOT_TO_APPL=Applications/$(PROJECT_NAME)
RP2040_SDK=~/Documents/rp2040

#relative path (from project folder) to the Components directory
COMPONENTS_DIR=/Components

#relative or absolute path to RP2040 SDK efl2uf2
ELF2UF2=/Users/patrickflaherty/development/uti/tools/makeuf2/makeuf2